@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;800;900&family=Inter:wght@400;700;800;900&family=Noto+Sans+Arabic:wght@400;700;800;900&display=swap');
:root {
  --font-family: "Cairo", "Noto Sans Arabic", "Inter", sans-serif;
  /* Primary & Accent Colors */
  --primary-blue: #0da2e7;
  --primary-blue-hover: #053a86;
  --primary-blue-light: #e6f7ff;

  --text-dark: #1e293b;
  --text-light: #e3e8ee;
  --text-muted: #64748b;
  --bg-main: #f8fafc;
  --bg-white: #ffffff;
  --border-light: 1px solid #e2e8f0;
}
/*
### Quick Font Weight Scale Reference
* **400**: Normal / Regular
* **700**: Bold
* **800**: Extra Bold
* **900**: Black / Heavy
*/

html, body {
  font-family: var(--font-family);
  color: var(--text-dark);
  background-color: var(--bg-main);
}

h1 {
  font-size: 4.25rem;
  
}
h2{
  font-size: 3rem;
  
}

p{
  font-size: 1.25rem;
}
a {
  text-decoration: none;
  font-size: 1.25rem;
  
}
